
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/SonjaVkBot.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/dictionaries/Fml23.xml
old_version/defs/__pycache__/home.cpython-38.pyc
old_version/defs/__pycache__/tools.cpython-38.pyc
old_version/defs/__pycache__/weather.cpython-38.pyc
old_version/defs/__pycache__/geometry.cpython-38.pyc
old_version/defs/__pycache__/answer_self_test_1.cpython-38.pyc
old_version/defs/__pycache__/answer_self_test_2.cpython-38.pyc
old_version/defs/__pycache__/literature.cpython-38.pyc
old_version/defs/__pycache__/physics.cpython-38.pyc
old_version/defs/__pycache__/physics_2.cpython-38.pyc
old_version/defs/__pycache__/self_test_1.cpython-38.pyc
old_version/defs/__pycache__/self_test_2.cpython-38.pyc
old_version/defs/__pycache__/self_test_div.cpython-38.pyc
old_version/defs/__pycache__/terms.cpython-38.pyc
old_version/defs/__pycache__/memorize_terms.cpython-38.pyc
old_version/defs/__pycache__/tools.cpython-38.pyc
old_version/defs/__pycache__/home.cpython-38.pyc
old_version/defs/__pycache__/weather.cpython-38.pyc
old_version/defs/__pycache__/home.cpython-38.pyc
old_version/defs/__pycache__/tools.cpython-38.pyc
old_version/defs/__pycache__/weather.cpython-38.pyc
.idea/dictionaries/User.xml
*.pyc
*.pyc
.idea/encodings.xml
additional_tools/__pycache__/dictionaries.cpython-38.pyc
